{% extends 'base.html.twig' %}

{% block title %}Détails du véhicule{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Détails du véhicule {{vehicules[0].titre}}</h1>
</br>
<table class="table table-hover text-center">
    <thead class="bg-dark text-white">
        <tr>
            <th>Vehicule</th>
            <th>Titre</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Prix Journalier</th>
            <th>Agence</th>
        </tr>
    </thead>

    <tbody>
         <tr>
                <td>{{vehicules[0].id}}</td>
                <td>{{vehicules[0].titre}}</td>
                <td>{{vehicules[0].marque}}</td>
                <td>{{vehicules[0].modele}}</td>
                <td>{{vehicules[0].description}}</td>
                <td><img src="{{vehicules[0].photo}}" alt=""></td>
                <td>{{vehicules[0].prix_journalier}}</td>
                <td>{{vehicules[0].ville}}</td>
            </tr>
        
    </tbody>
</table>

</br>

<div class="row justify-content-end"> 
    <a class='btn btn-info p-2 col-md-3' href="{{ path('agence') }}">Retour</a>
</div>

{% endblock %}
